ACCOUNT_SID = 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
AUTH_TOKEN = '69XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
BOT_MOBILE_NUMBER = 'TWILIO_NUMBER'
DB_URL = 'mongodb+srv://admin:admin@cluster0.alcyz.mongodb.net/notifierapp?retryWrites=true&w=majority'
MY_MOBILE_NUMBER = 'YOUR_MOBILE_NUMBER'