body {
  background-color: black;
}

.App {
  height: auto;
  width: 100%;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage_header {
  display: flex;
  justify-content: center;
  background-color: black;
  width: auto;
  position: sticky;
  top: 0;
}

.subHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: rgba(36, 120, 253, 255);
  height: auto;
  width: 50%;
}

.homepage_body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: black;
  height: auto;
  width: 100%;
}

li {
  list-style-type: none;
  width: 80%;
  display: flex;
  justify-content: center;
}

.msgHead {
  color: black;
  font-size: 25px;
  font-weight: 700;
}

.remindHead {
  font-size: 20px;
  font-weight: 400;
}

.remindTime {
  font-weight: 700;
}

.reminder_card {
  background-color: rgba(36, 120, 253, 255);
  padding: 10px;
  border-radius: 20px;
  border: 2px solid black;
  margin: 5px;
  width: 50%;
}

.datePicker {
  color: black;
  font-weight: 800;
}

.button {
  margin: 4px;
  padding: 5px;
  background-color: rgba(2, 35, 118, 255);
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.inputBox {
  height: 30px;
  width: 90%;
  font-size: 22px;
  font-weight: 700;
  border-radius: 30px;
  position: relative;
  padding-left: 12px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 720px) {
  .homepage_header {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
  }

  .subHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(36, 120, 253, 255);
    height: auto;
    width: 100%;
  }

  .homepage_body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: black;
    height: auto;
    width: 100%;
  }

  li {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .reminder_card {
    background-color: rgba(36, 120, 253, 255);
    padding: 10px;
    border-radius: 20px;
    margin: 5px;
    width: 80%;
  }

  .inputBox {
    height: 30px;
    width: 80%;
    font-size: 22px;
    font-weight: 700;
    border-radius: 30px;
    position: relative;
    margin-bottom: 7px;
  }

  .button {
    display: flex;
    /* justify-content: center; */
    width: auto;
    margin: 4px;
    padding: 5px;
    background-color: rgba(2, 35, 118, 255);
    color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}
